/* Backend less */

#stats {

	.stat {
		background-color: #2c2c2c;
		height: 100px;
		border: 2px solid #ffffff;

		h3 {
			color: #F5F5F5;
		}
	}
}

#articles {
	table {
		margin-top: 25px;
		width: 100%;

		thead {
			tr {
				background-color: #2c2c2c;

				th {
					color: #F5F5F5;
					font-size: 20px;
					padding-bottom: 20px;
					padding-top: 20px;
				}

				.padding-left {
					padding-left: 20px;
				}
			}
		}

			td {
				border-bottom: 1px solid #2c2c2c;
				padding-top: 10px;
				padding-bottom: 10px;
			}

		}
	}	
}